<form [formGroup]="watchForm">
  <div class="control-container">
    <div class="control">
      <input class="input-control" type="text" formControlName="name">
    </div>
    <div class="control">
      <input class="input-control" type="text" formControlName="description">
    </div>
    <div class="control">
      <input class="input-control" type="number" formControlName="price">
    </div>
  </div>
  <div class="button-container">
    <button *ngIf="formIsEditing" class="submit-button" (click)="edit()">Save</button>
    <button *ngIf="!formIsEditing" class="submit-button" (click)="submit()" [disabled]="!watchForm.value">Submit Form</button>
  </div>
</form>

<div class="filter-container">
  <button class="filter-button" (click)="filter()">Filter</button>
  <mat-form-field appearance="fill" class="sort-items">
    <mat-label>Sort by</mat-label>
    <mat-select (selectionChange)="sortBy($event)">
      <mat-option *ngFor="let item of arrayItems" [value]="item.value">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="array-container">
  <div class="watch-container" *ngFor="let watch of watchesArray">
    <div class="button-delete--wrapper">
      <button class="button-delete" (click)="deleteItem(watch.id)">X</button>
    </div>
    <div>
      <p>name: {{watch.name }} </p>
      <p>Description: {{watch.description }} </p>
      <p>Price: {{watch.price }} </p>
    </div>
    <div class="button-edit--wrapper">
      <button class="button-edit" (click)="editWatch(watch)">Edit</button>
    </div>
  </div>
</div>
